In [1]:
import pandas

In [2]:
s=pandas.Series([1,2,3,4])

In [3]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
def convert_to_fahrenheit(celsius_temp):
    product=celsius_temp*1.8
    return product+32

In [32]:
numbers=[100,150,200,250,300]
numbers

[100, 150, 200, 250, 300]

In [34]:
type(numbers)

list

In [5]:
convert_to_fahrenheit(s)
#correct output
#passing a series to a function

0    33.8
1    35.6
2    37.4
3    39.2
dtype: float64

In [6]:
len(s)
#to get length of an object such as series

4

In [7]:
s2=pandas.Series(["A list","B list","C list","D list"])

In [8]:
s2

0    A list
1    B list
2    C list
3    D list
dtype: object

In [25]:
v1="A list"

In [26]:
"A list" in v1

True

In [13]:
s2.str.contains("A")
#searching for a string in a column of Series

0     True
1    False
2    False
3    False
dtype: bool

In [18]:
s2.str.contains("A").value_counts()
#counting values by number of time they occur

False    3
True     1
dtype: int64

In [19]:
s2[s2.str.contains("A")]
#indexing
#selecting a row based on True value of some criteria
#here we are selecting columns which contains letter A

0    A list
dtype: object

In [14]:
d1=pandas.DataFrame({"col1":["A","B"],"col2":["C","D"]})
#creating a dataframe

In [15]:
d1

  col1 col2
0    A    C
1    B    D

In [16]:
d1["col1"]

0    A
1    B
Name: col1, dtype: object

In [17]:
d1["col1"].str.contains("A")
#searching for a string in a column of a dataframe

0     True
1    False
Name: col1, dtype: bool

In [20]:
d1[d1["col1"].str.contains("A")]

  col1 col2
0    A    C

In [30]:
fruits=["pumpkin","apple","orange","banana"]
s3=pandas.Series(fruits)
s3

0    pumpkin
1      apple
2     orange
3     banana
dtype: object