### Comments

In [6]:
#Solve really complex mathematical expression using Python
2+2
#3+3 #Solve really complex mathematical expression using Python

4

### Basic Data Types

In [7]:
"Boris"

'Boris'

In [8]:
"139.9"

'139.9'

In [9]:
"139.9 dollars"

'139.9 dollars'

In [12]:
#Boolean
True
False

False

In [14]:
5<7

True

In [13]:
10>12

False

### Operators

In [21]:
5+3

8

In [22]:
3.14+7.96

11.1

In [23]:
# concatenation
"race"+"car"

'racecar'

In [24]:
10-5

5

In [25]:
5*3

15

In [27]:
"Mahi"*10

'MahiMahiMahiMahiMahiMahiMahiMahiMahiMahi'

In [2]:
# Precedence
#PEMDAS
#Paranthesis Exponents Multiplication Division Addition Subtraction
3+4*5
(3+4)*5

35

In [31]:
15/4

3.75

In [32]:
# Division gives floating point number
# Regular division
10/5

2.0

In [33]:
#Floor division - chops off floating point number
#it doesnot round it off
10//3

3

In [34]:
14//3

4

In [35]:
14/3

4.666666666666667

In [36]:
#Modulo - gives remainder of the operation
14%3

2

In [39]:
# Equality operator - checks if numbers are equal
1==1
1==2
5==5.0 # they are also equal according to mathematics

True

In [43]:
"Hello"=="Hello"
"Hello"=="Goodbye"
"Hello"=="hello" # case sensitive

False

In [48]:
#You can use equality operator to check boolean
True ==True
False==False
True==False
False==True

False

In [51]:
#Inequality Operator --> !=
#Returns true if two operands are not equal to each other
5!=10
"Hello"!="Goodbye"
5!=5

False

In [54]:
5<=8
5<=5
5<=-2

False

In [56]:
14>9
14>20

False

In [59]:
20>=12
20>=20
20>=100

False

### Variables

In [60]:
age=29

In [61]:
age

29

In [63]:
age+5
#29+5

34

In [67]:
price=19.99
first_name="Boris" 
#variable can be assigned any data type such as floating point, strings, integer etc.
#snake_case: any subsequent two words separated by underscore _
profession="Software engineer"
Is_handsome=True

In [68]:
first_name

'Boris'

In [76]:
Is_handsome
#variables are case sensitive

True

In [77]:
first_name+" is awesome"
#concatenation using variables

'Boris is awesome'

In [78]:
age

29

In [79]:
profession="Python developer"

In [80]:
profession

'Python developer'

In [83]:
#age=29
# adding 5, equals 34
# upon executing command below second time, age=34+5=39
age=age+5
#Read from right hand side first, variables are read from right side
#variable value is being re-assigned

In [85]:
age

39

### Built-in Functions

In [86]:
len("How many characters do we have here?")
#length is function called as len
#it accepts a lot of data types

36

In [87]:
#string function - accepts an argument and convert it into a string
str(3.14)

'3.14'

In [88]:
int("10")
#notice output without quotes as integer value
#input is a string value in this case

10

In [89]:
float("9.384")

9.384

In [90]:
type(5)
#returns type of object

int

In [91]:
type(3.14)

float

In [92]:
type("playstation")

str

In [93]:
type(True)

bool

In [94]:
type(False)

bool

In [95]:
type(10)==type(15)
#same type of object

True

In [96]:
type(10)==type("10")
#different types of object
#one object is integer, other is string

False

### Custom Functions

In [98]:
#Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit
#keyword def function_name (parameters): 
#colon and then press enter
#parameter is expected input, what we give to the function when we invoke it
#python uses indentation to specify that it belongs to a function
def convert_to_fahrenheit(celsius_temp):
    product=celsius_temp*1.8
    return product+32
    
    #any variable defined within a function is only going to run within the function as long as the function is running
    #return is used to declare output

In [99]:
len("Hello")

5

In [100]:
convert_to_fahrenheit(0)

32.0

In [101]:
convert_to_fahrenheit(14)

57.2

In [102]:
convert_to_fahrenheit(celsius_temp=24)

75.2

In [103]:
#tab completion
convert_to_fahrenheit(100)

212.0

In [104]:
#Default argument
#If no value is specified, function uses default value
def convert_to_fahrenheit(celsius_temp=0): 
    product=celsius_temp*1.8 
    return product+32

In [105]:
convert_to_fahrenheit(200)

392.0

In [106]:
convert_to_fahrenheit()

32.0

### String Methods

In [1]:
profession="Developer"

In [4]:
profession.upper()
#invoking upper method on our string object
#upper method returns the string with all characters in upper case
#we don't feed in string of developer into the upper method
#Since upper method is directly connected to an object

'DEVELOPER'

In [3]:
"Developer".upper()
#methods can accept values and return output values

'DEVELOPER'

In [6]:
profession.lower()

'developer'

In [8]:
profession.swapcase()

'dEVELOPER'

In [ ]:
#string is an immutable object = meaning incapable to change
#mutable=capable to change

#string=immutable

In [9]:
profession
#string is not changed, remains the same after all these methods
#python defines a new object to return value when we call the method

'Developer'

In [10]:
"once upon a time".title()

'Once Upon A Time'

In [11]:
"once upon a time".capitalize()

'Once upon a time'

In [12]:
"ronald mcdonald".title()
#title is great to capitalize the names

'Ronald Mcdonald'

In [13]:
profession="     Developer         "

In [14]:
profession

'     Developer         '

In [15]:
profession.lstrip()

'Developer         '

In [16]:
profession.rstrip()

'     Developer'

In [17]:
profession.strip()

'Developer'

In [20]:
#this method accepts arguments
#just like in word, 
#replace method needs to know what it is looking for and what to replace it with
profession.replace("e","r")

'     Drvrloprr         '

In [22]:
#Method Chaining
profession.strip().replace("e","r")
#With this, we have produced two strings
#One acted with strip, seconds with replace method

'Drvrloprr'

In [23]:
animal="rhinoceros"

In [24]:
animal.startswith("rhino")

True

In [25]:
animal.startswith("R")
#Python is case sensitive

False

In [26]:
animal.endswith("ros")

True

In [29]:
animal.endswith("s")

True

In [30]:
animal.endswith("zzz")
#these methods are useful in extracting data from large sets

False

In [31]:
#operator is symbol that acts upon an object
#in operator searches for string/letter within entire string
"ino" in animal

True

In [32]:
"r" in animal

True

In [33]:
"R" in animal

False

In [34]:
#not in operator
"z" not in animal

True

In [35]:
"rhino" not in animal

False

### Lists

In [ ]:
#mutable data structure that holds an ordered collection of elements
#We can add, remove, swap elements in lists
#list is a container

In [36]:
#list within square brackets
[1,2,3,4]
#four objects 
#in other languages, list is called an array
#all elements should be of same data type

[1, 2, 3, 4]

In [38]:
#list of booleans
[True,True, False, False]

[True, True, False, False]

In [39]:
party_attendees=["Micheal","Freddy","Jason"]

In [40]:
party_attendees

['Micheal', 'Freddy', 'Jason']

In [ ]:
#We can have empty list
[]

In [41]:
len(party_attendees)

3

In [42]:
type(party_attendees)

list

#### Method Objects in Lists

In [43]:
presidents=["Washington", "Jafferson"]

In [46]:
presidents.append("Madison")

In [47]:
presidents

['Washington', 'Jafferson', 'Madison']

In [ ]:
#List is mutable
#append method mutated the presidents list

In [53]:
popcorn=["Salted","Unsalted","Caramel"]
popcorn

['Salted', 'Unsalted', 'Caramel']

In [54]:
popcorn.pop()

'Caramel'

In [55]:
popcorn

['Salted', 'Unsalted']

In [56]:
popcorn.remove("Salted")

In [57]:
popcorn

['Unsalted']

In [58]:
"cat" in "caterpillar"

True

In [60]:
planets = ["Mercury","Venus","Earth","Mars"]

In [61]:
"Earth" in planets

True

In [62]:
"earth" in planets

False

In [63]:
"Pluto" not in planets

True

In [64]:
"Mars" not in planets

False

### Index Positioning and Slicing

In [ ]:
#applies to both strings and lists
#they both keep its objects in orders
#in python, the count starts at zero (0)
#S is assigned the index 0, p the index 1
#final index position is 1 less than length

In [65]:
spiderman="Spiderman"

In [66]:
len(spiderman)

9

In [69]:
#how we can use index position to extract a particular letter from a string
spiderman[0]
spiderman[1]
spiderman[8]

'n'

In [71]:
spiderman[-1]
#pulls out the last element in the string

'n'

In [77]:
spiderman[-2]
spiderman[-3]
spiderman[-8]
spiderman[-9]
#in moving backwards we start with 1

'S'

In [78]:
superheroes=["Batman", "Superman", "Wolverine","Ironman","Arnold Schwarzenegger"]

In [79]:
len(superheroes)

5

In [ ]:
#elements in list also assigned index position
#first element starts at index 0

In [82]:
superheroes[0]
superheroes[2]
superheroes[4]

'Arnold Schwarzenegger'

In [83]:
superheroes[-4]

'Superman'

In [85]:
superheroes[-1]
superheroes[-5]

'Batman'

In [87]:
#to extract more than one elements
superheroes[1:3]
#one represents the starting index posistion, it is inclusive
#Last index is exlcusive
#Superman is at index 1
#Wolverine is at index 2
#Ironmman is at index 3, hence excluded

['Superman', 'Wolverine']

In [88]:
superheroes[2:4]

['Wolverine', 'Ironman']

In [90]:
spiderman[1:5]
#5-1=4 
#length of string output is 4

'pide'

In [91]:
superheroes[0:2]

['Batman', 'Superman']

In [92]:
superheroes[:2]

['Batman', 'Superman']

In [93]:
spiderman[:2]

'Sp'

In [95]:
superheroes[2:5]
#Arnold is at index 4
#We are defining past the boundary of our list

['Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [96]:
superheroes[2:100]

['Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [97]:
superheroes[2:]

['Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [98]:
spiderman[5:]

'rman'

In [99]:
spiderman[3:-2]

'derm'

### Dictionaries

In [ ]:
#an unordered collection of key-value pairs

In [ ]:
#example a menu, an entre with a price
#dictionary used to map different kind of datas
#e.g football player with jersey number 
#these associations are called key-value pairs in a dictionary object
#e.g omelete - 29.9
#omelete is the key, 29.9 is the value

In [ ]:
#dictionary is mutable
#key must be unique, values can be duplicate
#e.g in a menu, items only occur once.

In [101]:
menu={
    "Filet Mignon":29.99,
    "Big Mac":3.99,
    "Pizza":0.99,
    "Salmon":29.99 
}

In [102]:
#length of dictionary is equal to number of key value pairs
menu

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 0.99, 'Salmon': 29.99}

In [103]:
len(menu)

4

In [106]:
type(menu)

dict

In [107]:
#benefit of dictionary:we use key to access a value
#e.g what is the price of Big Mac
menu["Big Mac"]

3.99

In [108]:
menu["Tuna"]

KeyError: 'Tuna'

In [110]:
#Case sensitive python
menu["salmon"]

KeyError: 'salmon'

In [111]:
menu["Burrito"]=13.99
# a key cannot exist without a value
# and a value cannot exist without a key
#it is an association

In [112]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [113]:
menu["Big Mac"]=5.99
#this key will over-write the existing one

In [114]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 5.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [116]:
#to remove existing key value pair
menu.pop("Filet Mignon")

29.99

In [117]:
menu

{'Big Mac': 5.99, 'Pizza': 0.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [118]:
#inclusion, how we check for existance of key or value in a dictionary
# in and not in keywords
"Pizza" in menu
#checking among the keys

True

In [119]:
"Hot Pockets" in menu

False

In [120]:
"Bubble Gum" not in menu

True

In [121]:
"Burrito" not in menu

False

In [122]:
#to check among values, invoke function called values
menu.values()
#it is a container for all values within a dictionary

dict_values([5.99, 0.99, 29.99, 13.99])

In [123]:
#if you use in keyword on above values, you get a value
5.99 in menu.values()

True

In [124]:
99.95 in menu.values()

False