In [2]:
import pandas as pd

### Intro to Attributes

In [2]:
about_me=["Smart","Handsome","Charming","Brilliant","Humble"]
pd.Series(about_me)

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [3]:
#this series is not saved in any variable
#in order to save it in variable,we assign it to a variable
s=pd.Series(about_me)

In [4]:
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [5]:
s.values
#attributes do not require paranthesis at end, method do
#this is the difference between attributes and methods
#values returns series as an array
#It doesnot change anything in Series

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [6]:
s.index
#index is made of its own object called RangeIndex
#here we are observing objects that make up pandas Series object

#We can see that is starts with 0, ends at 5, and step is 1

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.dtype
#O is short form for object

dtype('O')

###  Intro to Methods

In [9]:
#Methods does something to an object, e.g removing a value, or calculation etc.

In [12]:
prices=[2.99,4.45,1.36]
pd.Series(prices)
#data type is float
s=pd.Series(prices)

In [13]:
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [15]:
s.sum()
#methods require paranthesis at end
#sum is method called upon series
# 2.99 +4.45+1.36=8.8

8.8

In [16]:
s.product()
#multiplies all values within each other

18.095480000000006

In [17]:
s.mean()
#all values sum/total number of values

2.9333333333333336

### Parameters and Arguments

In [ ]:
#Methods have parameters and they take values called arguments
# E.g.Video game settings that we may have
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True/False 

#Difficulty is called parameter, the option that we select,our choice is called an argument

In [21]:
fruits=["Apple","Orange","Plum","Grape","Blueberry"]
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday"]
#pd.Series()
#Press and hold shift and tab key together to see documentation on Series object
#With each parameter, there is a default argument of None
#First parameter of series is data
##list is given as argument to data parameter

pd.Series(fruits,weekdays)
#fruits entered as argument to data parameter
#weekdays entered as argument to index parameter
#we can feed this as sequentially

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [22]:
#We can also write it explicitly
pd.Series(data=fruits,index=weekdays)
#we dont have to write it in a sequence

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [23]:
pd.Series(fruits,index=weekdays)
#second argument is fed using explicit type

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [ ]:
#index value doesnot have to be unique
#the length of the lists that we feed into data and index must be identical

In [24]:
fruits=["Apple","Orange","Plum","Grape","Blueberry","Watermelon"]
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Monday"]
pd.Series(data=fruits,index=weekdays)

#monday is repeated twice

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

### Import Series with the read_csv Method

In [12]:
##### Here we will use a method called read_csv to import data from a csv file into pandas Series object

#pd.read_csv()
#pd. press tab after dot to see list of methods, enter read
#with read, you can see all types of files that we can import data from, e.g. excel,clipboard,sql etc

#Press and hold shift plus tab to see documentation for read_csv method
#more complex e.g which rows we want to import,or remove or remove empty space
#first parameter is filepath, meaning enter file path as string
#Since we have created jupyeter notebook in same directory as file, we dont have to provide directory name
#just provide file name

pd.read_csv("pokemon.csv")
#we provide file with its extension as string
#The output is a data frame, multiple columns of data

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [11]:
pd.read_csv("pokemon.csv",usecols=["Pokemon"])
#usecols is used to define the columns that we want to keep
#we still get data frame but it is of two columns

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [10]:
pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)
#now we get a series object
#We have numeric index and values
#Total we have 721 pokemon
#data type is object which is strings
#pandas is showing trunkated value of data, shows first and last five rows

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [7]:
#This series object must be assigned to a variable to perform some action
pokemon=pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)

In [8]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [13]:
pd.read_csv("google_stock_price.csv")
#tab completion works in filepath filename
#We get a data frame of one column

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [14]:
#to convert data frame to series
pd.read_csv("google_stock_price.csv",usecols=["Stock Price"],squeeze=True)
#It has 3012 entries, data type is float

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [15]:
google=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"],squeeze=True)

In [16]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64