In [2]:
import pandas as pd
import datetime as dt

In [3]:
#we need date and times to track over times
#we need to calculate duration between date and time
#or calculate a period of week
#native date and time is available in pandas and python

In [5]:
#date time is not pandas external library
#python has a standard library 
#a lot of functionalities are bundeled in python
# these are not imported directly so we import it
#pandas is external library, it is not part of pythons langauage while date time is

### Review of Python's datetime Module

135. Review of Python's datetime Module

In [6]:
#datetime can be a little confusing b/c we have datetime library or module and within that we have date time method
#datetime.datetime can be confusing b/c it can be a calling datetime method on datetime object
#date object stores a date, a year, month and a date
#datetime also specifies hour, minute and seconds along with date

In [13]:
#we will use datetime module in dt
dt.date(2010,1,20)
#january 20, 2010, second argument is the month, last is the day
#press tab after dt. to see list of available methods

datetime.date(2010, 1, 20)

In [14]:
someday=dt.date(2010,1,20)

In [15]:
someday.year
#press tab after someday. to see available attributes

2010

In [16]:
someday.month

1

In [17]:
someday.day

20

In [19]:
#lets create a datetime object
dt.datetime(2010,1,20)
#default time will be midnight if we dont provide it

datetime.datetime(2010, 1, 20, 0, 0)

In [21]:
dt.datetime(2010,1,20,8)
#8 clock in the morning

datetime.datetime(2010, 1, 20, 8, 0)

In [22]:
dt.datetime(2010,1,20,8,13)
# 8 o clock 13 min

datetime.datetime(2010, 1, 20, 8, 13)

In [23]:
dt.datetime(2010,1,20,8,13,57)
# 8 o clock 13 min 57 sec

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [24]:
dt.datetime(2010,1,20,17,13,57)
#in military time

datetime.datetime(2010, 1, 20, 17, 13, 57)

In [25]:
str(dt.datetime(2010,1,20,17,13,57)
)

'2010-01-20 17:13:57'

In [26]:
str(someday)
#to see it in more readable format

'2010-01-20'

In [27]:
sometime=dt.datetime(2010,1,20,17,13,57)
sometime.year

2010

In [28]:
sometime.month

1

In [29]:
sometime.day

20

In [30]:
sometime.hour

17

In [31]:
sometime.minute

13

In [32]:
sometime.second

57

In [ ]:
#lets say you want revenue by month
#we will next see how datetime exists in pandas

### The pandas Timestamp Object

136. The pandas Timestamp Object

In [33]:
#timestamp is panda's version of datetime
#it can have date and time, it doesnt need time component
#if user doesnt provide time, it will default to midnight
pd.Timestamp("2015-03-31")
#it can accept a wide variety of inputs, strings and python's datetime objects

Timestamp('2015-03-31 00:00:00')

In [34]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [35]:
pd.Timestamp("2013,11,4")

Timestamp('2013-04-01 00:00:00')

In [36]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [37]:
pd.Timestamp("19/12/2015")
#panda figures this is dec 19

Timestamp('2015-12-19 00:00:00')

In [38]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [39]:
pd.Timestamp("4/3/2000")
#here it changes so you need to be careful
#we can see that it accepts a wide variety of inputs

Timestamp('2000-04-03 00:00:00')

In [40]:
pd.Timestamp("2021-03-08 08:35:35")

Timestamp('2021-03-08 08:35:35')

In [42]:
pd.Timestamp("2021-03-08 06:13:29 PM")
#converted to military time

Timestamp('2021-03-08 18:13:29')

In [45]:
pd.Timestamp(dt.date(2015,1,1))
#pandas converts it to its own timestamp object

Timestamp('2015-01-01 00:00:00')

In [46]:
pd.Timestamp(dt.datetime(2010,2,3,21,35,22))
#if we give it pythons datetime object

Timestamp('2010-02-03 21:35:22')

In [47]:
#if we have python datetime object why we need pandas timestamp object
#b/c of functionalities
#there is more that we can do with timestamp than with datetime

### The pandas DateTimeIndex Object

137. The pandas DateTimeIndex Object

In [50]:
dates=["2016-01-02","2016-04-12","2009-09-07"]
pd.DatetimeIndex(dates)
#strings will be converted to pandas timestamps
#all those will be saved to a new object which is what our datetimeIndex is

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [51]:
type(pd.DatetimeIndex(dates))
#it is a DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [53]:
dates=["2016/01/02","2016/04/12","2009/09/07"]
pd.DatetimeIndex(dates)
#converted to timestamps and defaulted to standard look

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [55]:
dates=[dt.date(2016,1,10),dt.date(1994,6,13),dt.date(2003,12,29)]
#feeding in python's date objects
pd.DatetimeIndex(dates)
#converted to pandas datetimeindex
#can serve as index for series or object

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-29'], dtype='datetime64[ns]', freq=None)

In [56]:
dtIndex=pd.DatetimeIndex(dates)

In [58]:
#lets create a series to serve as values for our series
values=[100,200,300]
pd.Series(data=values,index=dtIndex)
#we can see timestamps have been assigned as timestamps for our series

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd.to_datetime() Method

138. The pd.to_datetime() Method

In [59]:
#a convenient method to convert an existng object to pandas time-related object
#called directly on pandas library
#can accept string, list of strings, date object or datetime object
#can convert to timestamp or datatimeIndex

In [60]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [61]:
pd.to_datetime(dt.date(2015,1,1))
# date object

Timestamp('2015-01-01 00:00:00')

In [62]:
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))
#inputing datetime object

Timestamp('2015-01-01 14:35:20')

In [65]:
#we can also give it a list of strings in variety of formats
pd.to_datetime(["2015-01-03","2014/02/08","2016","July 4th, 1996"])
#all of them converted to timestamps, bundled in datetimeIndex object

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [66]:
#real time use of this method is converting a pandas series into datetime object
pd.Series(["2015-01-03","2014/02/08","2016","July 4th, 1996"])
#creating a series

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [67]:
times=pd.Series(["2015-01-03","2014/02/08","2016","July 4th, 1996"])
#storing it in a variable
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [68]:
pd.to_datetime(times)
#data type list as datetime instead of object above
#format also changed

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [72]:
#this method is not perfect, issues occur when data is bad
pd.Series(["July 4th, 1996","10/04/1991","Hello","2015-02-31"])
dates=pd.Series(["July 4th, 1996","10/04/1991","Hello","2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [73]:
pd.to_datetime(dates)
#gives an error, cant figure out Hello

ParserError: Unknown string format: Hello

In [74]:
#raise argument in errors parameter arises an error
#coerce argument converts values that not date time into NaT values similar to NaN
pd.to_datetime(dates,errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [75]:
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705],unit="s")
#unix time is popular way of storing time in number of seconds
#these are no of seconds since Jan 1st, 1970

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the pd.date_range() Method, Part 1

139. Create Range of Dates with the pd.date_range() Method, Part 1

In [78]:
#generate date indexes quickly
#called directly on pandas library
pd.date_range(start="2016-01-01",end="2016-01-10")
#press shift and tab to see parameters
#requires two parameters: can be start and end,end and period,or you can have periods and start
#it generates datetime index for us
#freq parameter is short for frequency and D parameter stands for days

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [79]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")
#generated from 01 jan 2010 to 10 jan 2010

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [80]:
times=pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

In [81]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [83]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [84]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [85]:
#more uses of this method
pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [86]:
#freq =D is basically one day
pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")
#now freq set to 2 days

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [87]:
#B means business days and not weekends
pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")
#sat and sun make up 09 and 10th so weekends are not included

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [88]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W")
#w is for week , W=SUN is sunday
#it is looking only for days that are falling on Sunday

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [91]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="W-FRI")
#01 is included b/c it is friday, 08 is included b/c it is friday, 15 falls within our daterange so it is included
# W-FRI we have included day of the week that we want to start with

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [92]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="H")
#h stands dor hour
#gives every hour from jan 01 to jan 15

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [93]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="6H")
#in increments of 6 hours

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [94]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="M")
#results in month ends date that falls within our date range
#here it results in null since there are no month ends in our range

DatetimeIndex([], dtype='datetime64[ns]', freq='M')

In [95]:
pd.date_range(start="2016-01-01",end="2016-12-31",freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [97]:
pd.date_range(start="2016-01-01",end="2016-12-31",freq="MS")
#MS = Month starts

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [98]:
pd.date_range(start="2016-01-01",end="2017-01-01",freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [99]:
pd.date_range(start="2016-01-01",end="2050-01-01",freq="A")
# A short for year end 
#gives last day of each year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with the pd.date_range() Method, Part 2

140. Create Range of Dates with the pd.date_range() Method, Part 2

In [101]:
#we are going to do start and period
pd.date_range(start="2012-09-09",periods=25,freq="D")
#periods determine no. of timestamps that we want to generate, starting from this day
#pandas is going to look at start date and generate no. of periods that we want
#we get datetimeIndex with exactly 25 values
#each day is one day apart

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [102]:
len(pd.date_range(start="2012-09-09",periods=25,freq="D"))

25

In [103]:
#for 50 days
pd.date_range(start="2012-09-09",periods=50,freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03', '2012-10-04', '2012-10-05', '2012-10-06',
               '2012-10-07', '2012-10-08', '2012-10-09', '2012-10-10',
               '2012-10-11', '2012-10-12', '2012-10-13', '2012-10-14',
               '2012-10-15', '2012-10-16', '2012-10-17', '2012-10-18',
               '2012-10-19', '2012-10-20', '2012-10-21', '2012-10-22',
               '2012-10-23', '2012-10-24', '2012-10-25', '2012-10-26',
               '2012-10-27', '2012-10-28'],
              dtype='datetime64[ns]', freq='D')

In [104]:
pd.date_range(start="2012-09-09",periods=50,freq="B")
#to get 50 business days starting from sept 10 since sept 10 is monday
#sept 09 is sunday so not included even though it is specified as start

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [105]:
pd.date_range(start="2012-09-09",periods=50,freq="W")
#we get dates that are weeks apart falling on Sunday only

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [106]:
pd.date_range(start="2012-09-09",periods=50,freq="W-SUN")
#same as above
pd.date_range(start="2012-09-09",periods=50,freq="W-TUE")

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [107]:
#if we want 50 months start
pd.date_range(start="2012-09-09",periods=50,freq="MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [108]:
pd.date_range(start="2012-09-09",periods=50,freq="A")
#we get 50 years end dates

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [109]:
pd.date_range(start="2012-09-09",periods=50,freq="H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [110]:
pd.date_range(start="2012-09-09",periods=50,freq="6H")
#we can create custom hours

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with the pd.date_range() Method, Part 3

141. Create Range of Dates with the pd.date_range() Method, Part 3

In [111]:
#now we will use end and periods parameter
pd.date_range(end="1991-12-31",periods=20,freq="D")
#it moves back 20 date values from our end date that we provided i.e 1991-12-31

DatetimeIndex(['1991-12-12', '1991-12-13', '1991-12-14', '1991-12-15',
               '1991-12-16', '1991-12-17', '1991-12-18', '1991-12-19',
               '1991-12-20', '1991-12-21', '1991-12-22', '1991-12-23',
               '1991-12-24', '1991-12-25', '1991-12-26', '1991-12-27',
               '1991-12-28', '1991-12-29', '1991-12-30', '1991-12-31'],
              dtype='datetime64[ns]', freq='D')

In [112]:
len(pd.date_range(end="1991-12-31",periods=20,freq="D"))

20

In [113]:
pd.date_range(end="1991-12-31",periods=40,freq="D")

DatetimeIndex(['1991-11-22', '1991-11-23', '1991-11-24', '1991-11-25',
               '1991-11-26', '1991-11-27', '1991-11-28', '1991-11-29',
               '1991-11-30', '1991-12-01', '1991-12-02', '1991-12-03',
               '1991-12-04', '1991-12-05', '1991-12-06', '1991-12-07',
               '1991-12-08', '1991-12-09', '1991-12-10', '1991-12-11',
               '1991-12-12', '1991-12-13', '1991-12-14', '1991-12-15',
               '1991-12-16', '1991-12-17', '1991-12-18', '1991-12-19',
               '1991-12-20', '1991-12-21', '1991-12-22', '1991-12-23',
               '1991-12-24', '1991-12-25', '1991-12-26', '1991-12-27',
               '1991-12-28', '1991-12-29', '1991-12-30', '1991-12-31'],
              dtype='datetime64[ns]', freq='D')

In [114]:
pd.date_range(end="1991-12-31",periods=40,freq="B")
#business days, 31 dec is week day so it is included

DatetimeIndex(['1991-11-06', '1991-11-07', '1991-11-08', '1991-11-11',
               '1991-11-12', '1991-11-13', '1991-11-14', '1991-11-15',
               '1991-11-18', '1991-11-19', '1991-11-20', '1991-11-21',
               '1991-11-22', '1991-11-25', '1991-11-26', '1991-11-27',
               '1991-11-28', '1991-11-29', '1991-12-02', '1991-12-03',
               '1991-12-04', '1991-12-05', '1991-12-06', '1991-12-09',
               '1991-12-10', '1991-12-11', '1991-12-12', '1991-12-13',
               '1991-12-16', '1991-12-17', '1991-12-18', '1991-12-19',
               '1991-12-20', '1991-12-23', '1991-12-24', '1991-12-25',
               '1991-12-26', '1991-12-27', '1991-12-30', '1991-12-31'],
              dtype='datetime64[ns]', freq='B')

In [115]:
pd.date_range(end="1991-12-31",periods=40,freq="W-SUN")
#40 dates all on Sunday, dec 31 doesnt fall on Sunday so not included

DatetimeIndex(['1991-03-31', '1991-04-07', '1991-04-14', '1991-04-21',
               '1991-04-28', '1991-05-05', '1991-05-12', '1991-05-19',
               '1991-05-26', '1991-06-02', '1991-06-09', '1991-06-16',
               '1991-06-23', '1991-06-30', '1991-07-07', '1991-07-14',
               '1991-07-21', '1991-07-28', '1991-08-04', '1991-08-11',
               '1991-08-18', '1991-08-25', '1991-09-01', '1991-09-08',
               '1991-09-15', '1991-09-22', '1991-09-29', '1991-10-06',
               '1991-10-13', '1991-10-20', '1991-10-27', '1991-11-03',
               '1991-11-10', '1991-11-17', '1991-11-24', '1991-12-01',
               '1991-12-08', '1991-12-15', '1991-12-22', '1991-12-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [116]:
pd.date_range(end="1991-12-31",periods=40,freq="W-FRI")

DatetimeIndex(['1991-03-29', '1991-04-05', '1991-04-12', '1991-04-19',
               '1991-04-26', '1991-05-03', '1991-05-10', '1991-05-17',
               '1991-05-24', '1991-05-31', '1991-06-07', '1991-06-14',
               '1991-06-21', '1991-06-28', '1991-07-05', '1991-07-12',
               '1991-07-19', '1991-07-26', '1991-08-02', '1991-08-09',
               '1991-08-16', '1991-08-23', '1991-08-30', '1991-09-06',
               '1991-09-13', '1991-09-20', '1991-09-27', '1991-10-04',
               '1991-10-11', '1991-10-18', '1991-10-25', '1991-11-01',
               '1991-11-08', '1991-11-15', '1991-11-22', '1991-11-29',
               '1991-12-06', '1991-12-13', '1991-12-20', '1991-12-27'],
              dtype='datetime64[ns]', freq='W-FRI')

In [117]:
pd.date_range(end="1991-12-31",periods=40,freq="M")
#month ends

DatetimeIndex(['1988-09-30', '1988-10-31', '1988-11-30', '1988-12-31',
               '1989-01-31', '1989-02-28', '1989-03-31', '1989-04-30',
               '1989-05-31', '1989-06-30', '1989-07-31', '1989-08-31',
               '1989-09-30', '1989-10-31', '1989-11-30', '1989-12-31',
               '1990-01-31', '1990-02-28', '1990-03-31', '1990-04-30',
               '1990-05-31', '1990-06-30', '1990-07-31', '1990-08-31',
               '1990-09-30', '1990-10-31', '1990-11-30', '1990-12-31',
               '1991-01-31', '1991-02-28', '1991-03-31', '1991-04-30',
               '1991-05-31', '1991-06-30', '1991-07-31', '1991-08-31',
               '1991-09-30', '1991-10-31', '1991-11-30', '1991-12-31'],
              dtype='datetime64[ns]', freq='M')

In [120]:
#month starts
pd.date_range(end="1999-12-31",periods=53,freq="MS")
#now Dec 01,1999

DatetimeIndex(['1995-08-01', '1995-09-01', '1995-10-01', '1995-11-01',
               '1995-12-01', '1996-01-01', '1996-02-01', '1996-03-01',
               '1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01', '1997-02-01', '1997-03-01',
               '1997-04-01', '1997-05-01', '1997-06-01', '1997-07-01',
               '1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01',
               '1997-12-01', '1998-01-01', '1998-02-01', '1998-03-01',
               '1998-04-01', '1998-05-01', '1998-06-01', '1998-07-01',
               '1998-08-01', '1998-09-01', '1998-10-01', '1998-11-01',
               '1998-12-01', '1999-01-01', '1999-02-01', '1999-03-01',
               '1999-04-01', '1999-05-01', '1999-06-01', '1999-07-01',
               '1999-08-01', '1999-09-01', '1999-10-01', '1999-11-01',
               '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [122]:
pd.date_range(end="1999-12-31",periods=100,freq="7H")
#moving back in increments of 7 hours moving backwards

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

### The .dt Accessor

142. The .dt Accessor

In [123]:
#similar to str accessor
#in order to access a series with datetime, we need dt accessor
#similar to the way we called str accessor before calling a method

In [124]:
#lets first create a datetimeINdex
pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [125]:
bunch_of_dates=pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [126]:
pd.Series(bunch_of_dates)
#now we get series of dates

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [127]:
s=pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [128]:
#lets say we want to extract day from each of value in our date series
#s.day  - we cant call day on our series directly as we did in our date or datetime object
s.dt.day
#we ned datetime accessor dt

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [129]:
#we get month
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [135]:
s.dt.weekday
#helpful with financial data

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [136]:
#lets say we have these dates and we want to see which of these fall on quarter
s.dt.is_quarter_start
#press tab after s.dt. to see possible attributes

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [137]:
mask=s.dt.is_quarter_start
s[mask]
#now we get only those series that falls on start of quarter

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [138]:
mask=s.dt.is_month_start
s[mask]
#we get dates on begining of month

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [139]:
mask=s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

### Install pandas-datareader Library

In [1]:
# we need to install aditional library that we need to import inside jupyter notebook
# in order to get dataset for next couple of lessons
# pandas-datareader is a library
# it goes to server such as Yahoo Finance and fetches a bunch of data for us and converts it into dataframe
# great example is stock data

In [2]:
#Go to windows and open anaconda prompt
#conda info --envs command to see all installed environments on your computer
#conda activate pandas_playground
#the command to install a package or library: conda install pandas-datareader
#to install, we press y to confirm
#then launch jupyter notebook