### Import Financial Data Set with pandas_datareader Library

144. Import Financial Data Set with pandas_datareader Library

In [2]:
import pandas as pd
import datetime as dt
#we reach into data-reader library and extract attribute called data
from pandas_datareader import data

In [ ]:
import pandas_datareader
pandas_datareader.data
#another way of achieving this

In [ ]:
#data.
#press tab after data. to see available attributes and methods

In [3]:
data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
# name parameter will represent name of company
#in this lesson we pull data from microsoft called MSFT
# data_source represents where to pull data from
#for now our datasource is going to be yahoo
#we can also write start and end date

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...
2020-11-20,213.289993,210.000000,212.199997,210.389999,22829100.0,210.389999
2020-11-23,212.289993,208.160004,210.949997,210.110001,25683500.0,210.110001
2020-11-24,214.250000,208.860001,209.589996,213.860001,33979700.0,213.860001
2020-11-25,215.289993,212.460007,215.110001,213.869995,21012900.0,213.869995
2020-11-27,216.270004,214.039993,214.850006,215.229996,14512200.0,215.229996

In [ ]:
#it takes time b/c pandas is making data request over the internet
#we have datetime Index
#this is all financial data

In [4]:
stock=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
stock.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.113148

In [5]:
#some attributes we can do on our stock dataframe
stock.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.37393055e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.41053600e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.41131477e+01],
       ...,
       [2.14250000e+02, 2.08860001e+02, 2.09589996e+02, 2.13860001e+02,
        3.39797000e+07, 2.13860001e+02],
       [2.15289993e+02, 2.12460007e+02, 2.15110001e+02, 2.13869995e+02,
        2.10129000e+07, 2.13869995e+02],
       [2.16270004e+02, 2.14039993e+02, 2.14850006e+02, 2.15229996e+02,
        1.45122000e+07, 2.15229996e+02]])

In [6]:
stock.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [7]:
stock.index
#extracting our index
#length=2747 , meaning 2747 index values

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24',
               '2020-11-25', '2020-11-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [8]:
len(stock.index)

2747

In [10]:
stock.axes
#gives row axis as well as column axis contained within a list

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
                '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24',
                '2020-11-25', '2020-11-27'],
               dtype='datetime64[ns]', name='Date', length=2747, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

### Selecting Rows from a DataFrame with a DateTimeIndex

145. Selecting Rows from a DataFrame with a DateTimeIndex

In [12]:
stock=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
stock.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.113148

In [13]:
#we will look how we can extract one or more rows either by index label or index position within a dataframe with datetimeIndex
#we will use loc and iloc accessor
stock.loc["2010-01-04"]
#loc accesor targets based on index label within square brackets
#string will work here but it is a good idea to wrap this date in pandas timestamp object

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.410536e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [16]:
stock.loc[pd.Timestamp("2010-01-04")]
#we provide string argument
#with single string either one of these methods occur

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.410536e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [17]:
#we have iloc for index position
stock.iloc[0]

High         3.099000e+01
Low          3.048000e+01
Open         3.098000e+01
Close        3.048000e+01
Volume       3.192970e+07
Adj Close    2.373931e+01
Name: 2009-12-31 00:00:00, dtype: float64

In [18]:
stock.iloc[500]
#501 row in our dataframe

High         2.604000e+01
Low          2.573000e+01
Open         2.591000e+01
Close        2.603000e+01
Volume       2.320580e+07
Adj Close    2.124549e+01
Name: 2011-12-23 00:00:00, dtype: float64

In [19]:
stock.iloc[-1]
#to pull out last row in our dataframe

High         2.162700e+02
Low          2.140400e+02
Open         2.148500e+02
Close        2.152300e+02
Volume       1.451220e+07
Adj Close    2.152300e+02
Name: 2020-11-27 00:00:00, dtype: float64

In [20]:
#a date that doesnt exist will give you an error
stock.loc["2030-02-04"]

KeyError: '2030-02-04'

In [21]:
stock.iloc[10000]
#index position that doesnt exist

IndexError: single positional indexer is out-of-bounds

In [22]:
#pulling out more than one rows
stock.loc[["2010-01-04","2010-01-05"]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  24.113148

In [27]:
stock.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-01-05")]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  24.113148

In [28]:
#if date doesnt exist it gives error
stock.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2030-01-05")]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: DatetimeIndex(['2030-01-05'], dtype='datetime64[ns]', name='Date', freq=None). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [30]:
stock.iloc[[10,15,30]]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-15  31.240000  30.709999  31.080000  30.860001  79913200.0  24.035263
2010-01-25  29.660000  29.100000  29.240000  29.320000  63373000.0  22.835844
2010-02-16  28.370001  28.020000  28.129999  28.350000  51935600.0  22.183607

In [31]:
stock.iloc[[10,15,10000]]
#gives error if row doesnt exist

IndexError: positional indexers are out-of-bounds

In [32]:
#slicing
stock.loc["2013-10-01":"2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.817102
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.108875
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.057384
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.074543
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.576813

In [33]:
#with loc accessor value after collin is inclusive
#another way of achieving this is truncate method
stock.truncate(before="2013-10-01",after="2013-10-07")

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.817102
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.108875
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.057384
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.074543
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.576813

In [35]:
stock.iloc[1000:1005]
#end point is exclusive, we get six rows in our notation but we pull out till position of 1004

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-20  36.930000  36.189999  36.200001  36.799999  62649100.0  31.819893
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.664244
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  32.061996
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.373272
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.243584

In [36]:
#i want to find stock price of microsoft on each of my birthdays
#using date range method to generate all rows of my birthdate
pd.date_range(start="1991-04-12",end="2020-12-31",freq=pd.DateOffset(years=1))

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [37]:
#these values we want to look inside our stock price dataframe
birthdays=pd.date_range(start="1991-04-12",end="2020-12-31",freq=pd.DateOffset(years=1))

In [39]:
stock.index.isin(birthdays)
#we get boolean array, False meaning stock date doesnt exist in our birthday

array([False, False, False, ..., False, False, False])

In [40]:
birthdays_stock=stock.index.isin(birthdays)

In [41]:
stock[birthdays_stock]
#2014 year missing b/c it might have fallen on weekend hence stock value was missing

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.725113
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.506081
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.452108
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.362782
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,50.227928
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,61.528580
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,90.118393
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,118.441963

In [42]:
stock.loc[birthdays_stock]
#this wil give same result but also changes origninal dataframe

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.725113
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.506081
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.452108
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.362782
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,50.227928
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,61.528580
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,90.118393
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,118.441963

### Timestamp Object Attributes and Methods

146. Timestamp Object Attributes and Methods

In [43]:
#we will see pandas timestamp objects and how to apply on datetime index

In [44]:
stock=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
stock.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.113148

In [45]:
#accesing our datetime index
stock.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24',
               '2020-11-25', '2020-11-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [46]:
#we can pull index
stock.index[500]
#this dataset doesnt provide time so 00:00

Timestamp('2011-12-23 00:00:00')

In [47]:
someday=stock.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [48]:
#available attributes on this timeindex object
someday.month

12

In [49]:
someday.week

51

In [50]:
#to tell whether our timestamp falls on a given day
someday.is_month_start

False

In [51]:
someday.is_month_end

False

In [52]:
someday.is_quarter_start

False

In [53]:
someday.is_quarter_end

False

In [54]:
someday.day

23

In [55]:
#there are a lot of helpful methods
someday.month_name()
#calling a method requires some kind of logic/business operation

'December'

In [57]:
someday.day_name()
#gives day of the week this day falls on

'Friday'

In [58]:
#we can access any of these attributes or method on datetime index
#it is going to go to every value and figure out the result
stock.index.day_name()
#it generates a new pandas index and calls method on them

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Friday'],
      dtype='object', name='Date', length=2747)

In [59]:
#we can add it as a regular column in our stock datafram
stock.insert(0,column="Day of week",value=stock.index.day_name())

In [60]:
stock

,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...,...
2020-11-20,Friday,213.289993,210.000000,212.199997,210.389999,22829100.0,210.389999
2020-11-23,Monday,212.289993,208.160004,210.949997,210.110001,25683500.0,210.110001
2020-11-24,Tuesday,214.250000,208.860001,209.589996,213.860001,33979700.0,213.860001
2020-11-25,Wednesday,215.289993,212.460007,215.110001,213.869995,21012900.0,213.869995
2020-11-27,Friday,216.270004,214.039993,214.850006,215.229996,14512200.0,215.229996

In [61]:
#lets say we want an attribute
stock.index.is_month_start

array([False, False, False, ..., False, False, False])

In [64]:
stock.insert(1,"Is Start of Month",value=stock.index.is_month_start)

In [65]:
stock

,Day of week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...,...,...
2020-11-20,Friday,False,213.289993,210.000000,212.199997,210.389999,22829100.0,210.389999
2020-11-23,Monday,False,212.289993,208.160004,210.949997,210.110001,25683500.0,210.110001
2020-11-24,Tuesday,False,214.250000,208.860001,209.589996,213.860001,33979700.0,213.860001
2020-11-25,Wednesday,False,215.289993,212.460007,215.110001,213.869995,21012900.0,213.869995
2020-11-27,Friday,False,216.270004,214.039993,214.850006,215.229996,14512200.0,215.229996

In [66]:
#we can filter data
#lets say we want all rows with first start of month
stock["Is Start of Month"]

Date
2009-12-31    False
2010-01-04    False
2010-01-05    False
2010-01-06    False
2010-01-07    False
              ...
2020-11-20    False
2020-11-23    False
2020-11-24    False
2020-11-25    False
2020-11-27    False
Name: Is Start of Month, Length: 2747, dtype: bool

In [67]:
stock[stock["Is Start of Month"]]
#we have extracted 84 rows that start at beginning of a month

,Day of week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.127089
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.707878
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.817423
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.350094
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.204264
...,...,...,...,...,...,...,...,...
2020-05-01,Friday,True,178.639999,174.009995,175.800003,174.570007,39370500.0,173.211899
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,181.912857
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,203.673141
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25791200.0,226.676559
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,211.905228

In [ ]:
#you can do financial analysis like on which week day does a stock has biggest chance or rising or falling

### The pd.DateOffset Object

147. The pd.DateOffset Object

In [68]:
stock=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
stock.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.113148

In [69]:
#DateOffset object allows to add or subtract an amount of time from every date in our datetime index

In [70]:
#lets say i want to add five days to every day
#for e.g we want Jan 4 2010 to be Jan 9 2010
stock["High"]+5 
#adding 5 to every value in High column

Date
2009-12-31     35.990000
2010-01-04     36.100000
2010-01-05     36.100000
2010-01-06     36.080000
2010-01-07     35.700001
                 ...
2020-11-20    218.289993
2020-11-23    217.289993
2020-11-24    219.250000
2020-11-25    220.289993
2020-11-27    221.270004
Name: High, Length: 2747, dtype: float64

In [71]:
stock.index+5
#this gives error since value of 5 , does it mean 5 years? 5 days? etc.
#a lot of ambuigity

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [72]:
#when we use - sign, we tell pandas that we are moving backwards
stock.index + pd.DateOffset(days=5)
#we get new datetime index with addition of 5

DatetimeIndex(['2010-01-05', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2020-11-18', '2020-11-21', '2020-11-22', '2020-11-23',
               '2020-11-24', '2020-11-25', '2020-11-28', '2020-11-29',
               '2020-11-30', '2020-12-02'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [78]:
stock.index - pd.DateOffset(days=5)
#to subtract

DatetimeIndex(['2009-12-26', '2009-12-30', '2009-12-31', '2010-01-01',
               '2010-01-02', '2010-01-03', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-09',
               ...
               '2020-11-08', '2020-11-11', '2020-11-12', '2020-11-13',
               '2020-11-14', '2020-11-15', '2020-11-18', '2020-11-19',
               '2020-11-20', '2020-11-22'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [74]:
#stock.index=stock.index + pd.DateOffset(days=5)
#to overwrite the original index

In [75]:
stock.index + pd.DateOffset(weeks=2)

DatetimeIndex(['2010-01-14', '2010-01-18', '2010-01-19', '2010-01-20',
               '2010-01-21', '2010-01-22', '2010-01-25', '2010-01-26',
               '2010-01-27', '2010-01-28',
               ...
               '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02',
               '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-11'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [77]:
stock.index - pd.DateOffset(weeks=3)
#to move 3 weeks backwards

DatetimeIndex(['2009-12-10', '2009-12-14', '2009-12-15', '2009-12-16',
               '2009-12-17', '2009-12-18', '2009-12-21', '2009-12-22',
               '2009-12-23', '2009-12-24',
               ...
               '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30', '2020-11-02', '2020-11-03',
               '2020-11-04', '2020-11-06'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [79]:
stock.index + pd.DateOffset(months=3)
#moving from Jan 4 to april 4

DatetimeIndex(['2010-03-31', '2010-04-04', '2010-04-05', '2010-04-06',
               '2010-04-07', '2010-04-08', '2010-04-11', '2010-04-12',
               '2010-04-13', '2010-04-14',
               ...
               '2021-02-13', '2021-02-16', '2021-02-17', '2021-02-18',
               '2021-02-19', '2021-02-20', '2021-02-23', '2021-02-24',
               '2021-02-25', '2021-02-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [80]:
stock.index + pd.DateOffset(years=1)

DatetimeIndex(['2010-12-31', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-08', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2021-11-13', '2021-11-16', '2021-11-17', '2021-11-18',
               '2021-11-19', '2021-11-20', '2021-11-23', '2021-11-24',
               '2021-11-25', '2021-11-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [81]:
stock.index - pd.DateOffset(years=8)

DatetimeIndex(['2001-12-31', '2002-01-04', '2002-01-05', '2002-01-06',
               '2002-01-07', '2002-01-08', '2002-01-11', '2002-01-12',
               '2002-01-13', '2002-01-14',
               ...
               '2012-11-13', '2012-11-16', '2012-11-17', '2012-11-18',
               '2012-11-19', '2012-11-20', '2012-11-23', '2012-11-24',
               '2012-11-25', '2012-11-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [83]:
#you can mix and match
stock.index + pd.DateOffset(years=1, months=3, days=10, hours=6,minutes=2 )
#since our time is midnight it is adding 6 hours 2 min to 00:00:00

DatetimeIndex(['2011-04-10 06:02:00', '2011-04-14 06:02:00',
               '2011-04-15 06:02:00', '2011-04-16 06:02:00',
               '2011-04-17 06:02:00', '2011-04-18 06:02:00',
               '2011-04-21 06:02:00', '2011-04-22 06:02:00',
               '2011-04-23 06:02:00', '2011-04-24 06:02:00',
               ...
               '2022-02-23 06:02:00', '2022-02-26 06:02:00',
               '2022-02-27 06:02:00', '2022-02-28 06:02:00',
               '2022-03-01 06:02:00', '2022-03-02 06:02:00',
               '2022-03-05 06:02:00', '2022-03-06 06:02:00',
               '2022-03-07 06:02:00', '2022-03-09 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [84]:
stock.index - pd.DateOffset(years=3, months=4, days=25, hours=13,minutes=24 )

DatetimeIndex(['2006-08-05 10:36:00', '2006-08-09 10:36:00',
               '2006-08-10 10:36:00', '2006-08-11 10:36:00',
               '2006-08-12 10:36:00', '2006-08-13 10:36:00',
               '2006-08-16 10:36:00', '2006-08-17 10:36:00',
               '2006-08-18 10:36:00', '2006-08-19 10:36:00',
               ...
               '2017-06-17 10:36:00', '2017-06-20 10:36:00',
               '2017-06-21 10:36:00', '2017-06-22 10:36:00',
               '2017-06-23 10:36:00', '2017-06-24 10:36:00',
               '2017-06-27 10:36:00', '2017-06-28 10:36:00',
               '2017-06-29 10:36:00', '2017-07-01 10:36:00'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [85]:
stock.index - pd.DateOffset(years=3, months=4, days=25, hours=13,minutes=24,seconds=26 )

DatetimeIndex(['2006-08-05 10:35:34', '2006-08-09 10:35:34',
               '2006-08-10 10:35:34', '2006-08-11 10:35:34',
               '2006-08-12 10:35:34', '2006-08-13 10:35:34',
               '2006-08-16 10:35:34', '2006-08-17 10:35:34',
               '2006-08-18 10:35:34', '2006-08-19 10:35:34',
               ...
               '2017-06-17 10:35:34', '2017-06-20 10:35:34',
               '2017-06-21 10:35:34', '2017-06-22 10:35:34',
               '2017-06-23 10:35:34', '2017-06-24 10:35:34',
               '2017-06-27 10:35:34', '2017-06-28 10:35:34',
               '2017-06-29 10:35:34', '2017-07-01 10:35:34'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

### Timeseries Offsets

148. Timeseries Offsets

In [86]:
stock=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-12-31")
stock.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.113148

In [87]:
#what if we want to add a dynamic amount of time to each time
#e.g round each day to end of each month e.g for Jan4 round it off jan 31
stock.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24',
               '2020-11-25', '2020-11-27'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [88]:
stock.index + pd.tseries.offsets.MonthEnd()
#you can think of pandas as group of folders nested inside

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [89]:
stock.tail(3)
#if there is a date that falls on end or start of month, it will be considered as passing the threshold
#it will be counted as next month

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-11-24,214.250000,208.860001,209.589996,213.860001,33979700.0,213.860001
2020-11-25,215.289993,212.460007,215.110001,213.869995,21012900.0,213.869995
2020-11-27,216.270004,214.039993,214.850006,215.229996,14512200.0,215.229996

In [90]:
stock.index - pd.tseries.offsets.MonthEnd()
#goes backwards

DatetimeIndex(['2009-11-30', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-10-31', '2020-10-31', '2020-10-31', '2020-10-31',
               '2020-10-31', '2020-10-31', '2020-10-31', '2020-10-31',
               '2020-10-31', '2020-10-31'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [91]:
stock.index + pd.tseries.offsets.MonthBegin()
#will give beginning of next month

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [92]:
stock.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2009-12-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-11-01', '2020-11-01', '2020-11-01', '2020-11-01',
               '2020-11-01', '2020-11-01', '2020-11-01', '2020-11-01',
               '2020-11-01', '2020-11-01'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [93]:
# we can also import like this
from pandas.tseries import offsets

In [94]:
stock.index + offsets.MonthEnd()
#now we can use it like this

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [95]:
#lets look at couple of more examples
#caring about business ends of the month, the last working day in a month
stock.index+offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [96]:
stock.index-offsets.BMonthEnd()

DatetimeIndex(['2009-11-30', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-10-30', '2020-10-30', '2020-10-30', '2020-10-30',
               '2020-10-30', '2020-10-30', '2020-10-30', '2020-10-30',
               '2020-10-30', '2020-10-30'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [97]:
stock.index+offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [98]:
stock.index-offsets.YearEnd()

DatetimeIndex(['2008-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [99]:
stock.index+offsets.YearBegin()
#begining of next year

DatetimeIndex(['2010-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

In [100]:
stock.index-offsets.YearBegin()

DatetimeIndex(['2009-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2747, freq=None)

### The Timedelta Object

149. The Timedelta Object

In [101]:
#we know pandas timestamp object represents given moment in time, something we can plot on calendar
#timedelta represents duration of time, it is difference between times, it is a duration
#e.g. party is in 3 days
time_a=pd.Timestamp("2020-03-31")
time_b=pd.Timestamp("2020-03-20")

time_a - time_b
#we get pandas time delta object

Timedelta('11 days 00:00:00')

In [102]:
time_a=pd.Timestamp("2020-03-31 04:35:16 PM")
time_b=pd.Timestamp("2020-03-20 02:15:49 AM")

time_a - time_b

Timedelta('11 days 14:19:27')

In [103]:
time_b - time_a
# we get negative value since time_a occurs in future

Timedelta('-12 days +09:40:33')

In [104]:
#how to create Timedelta object from scratch
pd.Timedelta(days=3)
#helpful in adding a time frame

Timedelta('3 days 00:00:00')

In [105]:
time_a + pd.Timedelta(days=3)
# we get 3 days after 31 march

Timestamp('2020-04-03 16:35:16')

In [106]:
pd.Timedelta(days=3, minutes=45)

Timedelta('3 days 00:45:00')

In [107]:
pd.Timedelta(days=3,hours=12, minutes=45)

Timedelta('3 days 12:45:00')

In [108]:
pd.Timedelta(days=3,hours=12, minutes=45,seconds=20)

Timedelta('3 days 12:45:20')

In [110]:
pd.Timedelta(weeks=8,days=3,hours=12, minutes=45,seconds=20)

Timedelta('59 days 12:45:20')

In [111]:
#years paramter doesnt work here since there can be 365 days or 366
#timedelta is quite versatile
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [112]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:05:00')

In [113]:
pd.Timedelta("14 days, 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

### Timedeltas in a Dataset

150. Timedeltas in a Dataset

In [115]:
#how timedelta object applies in real life dataset
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [116]:
pd.read_csv("ecommerce.csv",index_col="ID")

    order_date delivery_date
ID
1      5/24/98        2/5/99
2      4/22/92        3/6/98
4      2/10/91       8/26/92
5      7/21/92      11/20/97
7       9/2/93       6/10/98
..         ...           ...
990    6/24/91        2/2/96
991     9/9/91       3/30/98
993   11/16/90       4/27/98
994     6/3/93       6/13/93
997     1/4/90       10/3/91

[501 rows x 2 columns]

In [117]:
pd.read_csv("ecommerce.csv",index_col="ID").info()
#order date and delivery date column are strings
#we can also tell this by | rather than dashes-

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 11.7+ KB

In [118]:
pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [119]:
shipping= pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])

In [120]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [121]:
#lets say we want duration between them
#we extract column that we want to extract from
shipping["delivery_date"]

ID
1     1999-02-05
2     1998-03-06
4     1992-08-26
5     1997-11-20
7     1998-06-10
         ...
990   1996-02-02
991   1998-03-30
993   1998-04-27
994   1993-06-13
997   1991-10-03
Name: delivery_date, Length: 501, dtype: datetime64[ns]

In [122]:
shipping["delivery_date"] - shipping["order_date"]
# we get series of pandas timedelta

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [123]:
shipping["Delivery Time"]=shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [124]:
#we can create new series by combining timestamp and timedelta columns
#e.g if we want to find out what day in future it will be if delivery time took twice as long
#we can timedeltas in our Delivery Time column to our Delivery_date column
shipping["delivery_date"]

ID
1     1999-02-05
2     1998-03-06
4     1992-08-26
5     1997-11-20
7     1998-06-10
         ...
990   1996-02-02
991   1998-03-30
993   1998-04-27
994   1993-06-13
997   1991-10-03
Name: delivery_date, Length: 501, dtype: datetime64[ns]

In [125]:
shipping["delivery_date"]+shipping["Delivery Time"]
#we get datetime

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [126]:
shipping["delivery_date"]-shipping["Delivery Time"]
#we get order date

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
         ...
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [127]:
shipping["Twice As Long"]=shipping["delivery_date"]+shipping["Delivery Time"]

In [128]:
shipping.head(3)
# 3 columns of datetimes, one of timedelta

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [129]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [130]:
#we can do all kind of operations e.g those that took more than one year to deliver
shipping["Delivery Time"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Name: Delivery Time, Length: 501, dtype: timedelta64[ns]

In [131]:
shipping["Delivery Time"]>"365 days" 
#we get boolean series

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool

In [132]:
mask=shipping["Delivery Time"]>"365 days" 
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [133]:
mask=shipping["Delivery Time"]>"2000 days" 
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
..         ...           ...           ...           ...
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[113 rows x 4 columns]

In [134]:
mask=shipping["Delivery Time"]>"3000 days" 
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
32  1990-01-20    1998-07-24     3107 days    2007-01-25
130 1990-04-02    1999-08-16     3423 days    2008-12-29
151 1991-01-29    1999-08-05     3110 days    2008-02-09
229 1990-04-13    1998-11-17     3140 days    2007-06-23
314 1990-03-07    1999-12-25     3580 days    2009-10-13
331 1990-09-18    1999-12-19     3379 days    2009-03-20
348 1990-02-27    1999-01-04     3233 days    2007-11-11
392 1990-12-24    1999-12-04     3267 days    2008-11-13
590 1990-03-25    1998-12-20     3192 days    2007-09-16
634 1991-04-04    1999-07-21     3030 days    2007-11-06
674 1990-03-16    1998-12-28     3209 days    2007-10-11
760 1990-09-16    1998-12-06     3003 days    2007-02-25
764 1990-09-19    1999-09-16     3284 days    2008-09-12
786 1990-10-26    1999-05-10     3118 days    2007-11-22
884 1990-01-20    1999-11-12     3583 days    2009-09-03
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03

In [135]:
mask=shipping["Delivery Time"]=="3423 days" 
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [136]:
#we can also do on our timedelta column mix and man function
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [139]:
shipping["Delivery Time"].min()
#shortest shipping time

Timedelta('8 days 00:00:00')